<html ng-app="myApp">
  <head>  
    <title>Sign up View</title>  
    <style></style>
    
  </head>
  <body ng-controller="AppController as ctrl">
       
      <form ng-submit="submit()" name="myForm" novalidate>
        
        <div>
          <h1>New Member Sign Up</h1> 
        </div>
        
      
        <div id = "float1">
           <!--email-->
        <label>Email</label>
        <div>
         <input class = "textBox" type="email" ng-model="email" name="email" class="email" placeholder="Enter your Email" required/>
              <span ng-show="myForm.$dirty && myForm.email.$error.required">This is a required field</span>
              <span ng-show="myForm.$dirty && myForm.email.$invalid">This field is invalid </span><br/><br/>
        </div>
        
        <!--password-->
        
        <label>Password</label>
        <div>
          <input class = "textBox" type = "password" ng-model="ctrl.user.password" name = "password" placeholder = "Enter your password" required="" ng-minlength="6" match-password="password1"/>
          <span ng-show="myForm.$dirty && myForm.password.$error.required">This is required.</span>
           <span ng-show="myForm.password.$error.minlength"
                 >Minimum 6 character</span>
          <br><br> 
        </div>
        
        <!-- confirm password-->
        <label>Confirm Password</label>
        <div>
          <input class = "textBox" type = "password" ng-model="password1" name = "password1" placeholder = "Confirm your password" required=""/>
         
                    <span ng-show="myForm.$dirty && myForm.password1.$error.required">Confirm password is required</span>
          <span ng-show= "myForm.password1.$viewValue != myForm.password.$viewValue">Password don't match</span> 
        
          <br><br> 
        </div>
        
        <!--first name-->
        <label>First Name</label>
        <div>
          <input class = "textBox" type="text" ng-model="username" name="uname" class="username" placeholder="Enter your First Name" required ng-minlength="3"/>
              <span ng-show="myForm.$dirty && myForm.uname.$error.required">This is a required field</span>
              <span ng-show="myForm.$dirty && myForm.uname.$error.minlength">Minimum length required is 4</span>
              <span ng-show="myForm.$dirty && myForm.uname.$invalid">This field is invalid </span><br/><br/>
        </div>
        
        <!--last name-->
        <label>Last Name</label>
         <div>    
          <input class = "textBox" type="text" ng-model="lastName" placeholder="Enter your Last Name"/><br/><br/>
        </div>
        
         <!--Date of Birth-->
        <label>Date Of Birth</label>
        <div>
        <input class = "textBox" type = "date" ng-model = "dateOfBirth" placeholder = "Date of Birth"  max="2003-06-27"/> 
        <br><br>
        </div>
        
 
        <!--Clear Button-->
        
        <input id = "clearButton" type="reset"  value="Clear" ng-disabled="myForm.$invalid" ng-click="ShowConfirm()">
        
        <!--Submit Button-->
           
          <input id = "submitButton" type="submit"  value="Submit" ng-disabled="myForm.$invalid" ng-click="ShowHide()">
        
        <span ng-bind = "Message"></span>
          
        </div>
        
        
        
        <div id="float2" ng-show = "IsVisible">
		<label>{{email}}</label><br>
		<br>
		<label>{{username}}</label>
		
		<label>{{lastName}}</label><br>
		<br>
		<label>{{dateOfBirth}}</label><br>
		<br>
		<label>Enter your areas of interest:</label><br>
		 <textarea rows="4" cols="40"></textarea>
			
		</div>

        
      </form>
       
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
      </script>  
      
  </body>
</html>