<div class="container" ng-app="ticTacToe">
  <div ng-controller="TicTacToeController as ticTacToe">
    <div class="row">
      <div class="col-span">
        <div class="text-center">
          <h1>Tic Tac Toe- Let the best payer win!</h1>
          <p>Games Played: </p>
          <p>Games Won:  </p>
          <p>Games Lost: </p>
          <p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-span text-center text-container">
        <h3 ng-animate-swap="ticTacToe.words" class="animation absolute">{{ticTacToe.words}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-span">
        <div class="auto-margin">
          <table class="table tic-tac-toe-table text-center">
            <tr>
              <td>
                <button ng-click="ticTacToe.play(0)" class="btn btn-default board-button">{{ticTacToe.game[0]}}</button>
              </td>
              <td>
                <button ng-click="ticTacToe.play(1)" class="btn btn-default board-button">{{ticTacToe.game[1]}}</button>
              </td>
              <td>
                <button ng-click="ticTacToe.play(2)" class="btn btn-default board-button">{{ticTacToe.game[2]}}</button>
              </td>
            </tr>
            <tr>
              <td>
                <button ng-click="ticTacToe.play(3)" class="btn btn-default board-button">{{ticTacToe.game[3]}}</button>
              </td>
              <td>
                <button ng-click="ticTacToe.play(4)" class="btn btn-default board-button">{{ticTacToe.game[4]}}</button>
              </td>
              <td>
                <button ng-click="ticTacToe.play(5)" class="btn btn-default board-button">{{ticTacToe.game[5]}}</button>
              </td>
            </tr>
            <tr>
              <td>
                <button ng-click="ticTacToe.play(6)" class="btn btn-default board-button">{{ticTacToe.game[6]}}</button>
              </td>
              <td>
                <button ng-click="ticTacToe.play(7)" class="btn btn-default board-button">{{ticTacToe.game[7]}}</button>
              </td>
              <td>
                <button ng-click="ticTacToe.play(8)" class="btn btn-default board-button">{{ticTacToe.game[8]}}</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="auto-margin">
       
        <button ng-click="ticTacToe.reset()" class='btn btn-danger right'>Replay</button>
      </div>
      <div class="row">
        <div class="auto-margin space-top">
        </div>
      </div>
      <div class="logic" ng-show="showComp">
        <div class="col-span text-center">
          <h3>Moves and score:</h3>
        </div>
        <div ng-repeat="moves in ticTacToe.moves">
          <p><strong>{{moves[0]}}: </strong> {{moves[1]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>